/servidor_busca/build/
/cliente/nbproject/private/
/cliente/build/
/servidor_repositorioasdasd/build/
/servidor_repositorioasdasd/nbproject/private/
/ClienteNative/nbproject/private/
/ClienteNative/build/